* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}


.btn {
  margin: 0 auto;
	border-radius: 0;
	border: 1px solid grey;
	overflow: hidden;
	color: white;
}

#wrapper, #wrapper2 {
	background: url(assets/backgr.jpg) center center no-repeat fixed;
	width: 100vw;
	position: relative;
}

#wrapper2 {
  height: 100vh;
}

@media (max-height:190px) {
	#wrapper2 {
		height: auto;
	}
}

#wedding-title {
	margin: 10vh auto;
	padding-top: 10vh;
	text-align: center;
	font-size: 7vh;
	font-family: 'Dancing script';
	color: goldenrod;
}


/*Story styles*/

.story-title {
	font-family: 'Indie Flower';
	font-size: 3vw;
	margin-top: 4vh;
	border-bottom: 1px solid grey;
	text-align: center;
	color: bisque;
}

.story-talk {
	font-family: 'Shadows Into Light';
	font-size: 2.5vw;
	line-height: 3.5rem;
	font-weight: 400;
	color: beige;
}

.storypic {
	padding-top: 3vh;
	padding-bottom: 3vh;
}

/*wedding styles*/

.wedpic {
	padding-top: 2vh;
	padding-bottom: 2vh;
}



